{% extends "layout.html" %} {% block body %}
<form action="/confirmApp" method="POST">
  <div id="leftInput">
    <label>
      Reason for Visit<br />
      <select name="reasonVisit">
        <option disabled selected value="">--Pick an Option--</option>
        <option value="yearly checkup">yearly checkup</option>
        <option value="sickness">sickness</option>
        <option value="prescription">prescription</option>
        <option value="something">something</option>
      </select>
    </label>

    <br />
    <label>
      Name<br />
      <input type="text" name="name" autocomplete="off" />
    </label>

    <br />
    <label>
      Lastname<br />
      <input type="text" name="lastName" autocomplete="off" />
    </label>

    <br />
    <label>
      Email<br />
      <input type="email" name="email" autocomplete="off" />
    </label>

    <br />
    <label>
      Number<br />
      <input
        type="tel"
        name="number"
        autocomplete="off"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      />(format: 012-345-6789)
    </label>
  </div>

  <div id="calender"></div>

  <div id="buttons">
    <span>
      <button type="reset" value="reset">CANCEL</button>
      <button type="submit" value="submit">BOOK NOW</button>
    </span>
  </div>
</form>
{% endblock %}
